@model IEnumerable<DataObjects.QuestionViewModel>

@{
    ViewBag.Title = "MainQuiz";
}

<h2>MainQuiz</h2>

<p>Welcome @User.Identity.Name</p>


@foreach (var a in Model)
{
    <hr/>
    @Html.Partial("_QuestionPartial", a)
    <hr/>

    <script>
    $(document).ready(function () {
        var dc;

        $("@Html.DisplayName("#" + a.QxnNo + "a")").click(function () {
            dc = $('input[name=@a.QxnNo]:checked').val();
            $('input[name=@Html.DisplayName( "ans" + @a.QxnNo)]').val(dc);

            alert($('input[name=@Html.DisplayName(@a.QxnNo + "ans")]').val());
        });

        $("@Html.DisplayName("#" + a.QxnNo + "b")").click(function () {
            dc = $('input[name=@a.QxnNo]:checked').val();
            alert(dc);
        });

        $("@Html.DisplayName("#" + a.QxnNo + "c")").click(function () {
            dc = $('input[name=@a.QxnNo]:checked').val();
            alert(dc);
        });

        $("@Html.DisplayName("#" + a.QxnNo + "d")").click(function () {
            dc = $('input[name=@a.QxnNo]:checked').val();
            alert(dc);
        });

    });
</script>
    }

