@model IEnumerable<DataObjects.QuestionViewModel>

@{
    ViewBag.Title = "MainQuiz";
}

<h2>MainQuiz</h2>

<p>Welcome @User.Identity.Name</p>

<div class="row">
    @foreach (var a in Model)
    {
        <hr />
        @Html.Partial("_QuestionPartial", a)
        <hr />

        <script>
    $(document).ready(function () {
        var dc;

        $("@Html.DisplayName("#" + a.QxnNo + "sbt")").click(function () {
            $("@Html.DisplayName("#" + a.QxnNo + "sbt")").css("background-color", "red");
                    @*dc = $('input[name=@a.QxnNo]:checked').val();*@
        });

        @*$("@Html.DisplayName("#" + a.QxnNo + "sbt")").click(function () {
                    dc = $('input[name=@a.QxnNo]:checked').val();
                });

                $("@Html.DisplayName("#" + a.QxnNo + "sbt")").click(function () {
                    dc = $('input[name=@a.QxnNo]:checked').val();
                });

                $("@Html.DisplayName("#" + a.QxnNo + "sbt")").click(function () {
                    dc = $('input[name=@a.QxnNo]:checked').val();
                });*@

    });
        </script>
    }
</div>


@Html.ActionLink("Submit", "Submit", "Home", null, new { @class = "btn btn-default"})

