@model DataObjects.QuestionViewModel


<div id="question">
    @*@using (Ajax.BeginForm("SaveAnswer", "Quiz", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "question" }))
    {*@
        <div class="col-sm-6 col-md-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Model.QuestionText</h3>
                    <fieldset>

                        <div class="radio-inline">
                            <label>@Html.RadioButton(@Model.QxnNo.ToString(), @Model.QxnNo + "TrueA", new { @id = @Model.QxnNo + "a" }) @Model.Option1</label>
                            <br />
                        </div>

                        <div class="radio-inline">
                            <label>@Html.RadioButton(@Model.QxnNo.ToString(), @Model.QxnNo + "TrueB", new { @id = @Model.QxnNo + "b" }) @Model.Option2</label>
                        </div>

                        <div class="radio-inline">
                            <label>@Html.RadioButton(@Model.QxnNo.ToString(), @Model.QxnNo + "TrueC", new { @id = @Model.QxnNo + "c" }) @Model.Option3</label>
                        </div>

                        <div class="radio-inline">
                            <label>@Html.RadioButton(@Model.QxnNo.ToString(), @Model.QxnNo + "TrueD", new { @id = @Model.QxnNo + "d" }) @Model.Option4</label>
                        </div>
                    </fieldset>

                    @Html.HiddenFor(m => m.QxnNo)
                    @Html.HiddenFor(m => m.QuestionText)
                    <p><button id="@Html.DisplayName(@Model.QxnNo + "sbt")" class="btn btn-primary pull-right" role="button" style="width: 150px;">Save</button>
                </div>
            </div>
            <br /><br />
        </div>
        
       
    
    @*}*@
</div>

@{/*
           <label>@Model.QuestionText</label><br />

        <fieldset>

            <div class="radio-inline">
                <label>@Html.RadioButton( @Model.QxnNo.ToString(), @Model.QxnNo + "TrueA", new {@id= @Model.QxnNo + "a"}) @Model.Option1</label>
                <br/>
            </div>

            <div class="radio-inline">
                <label>@Html.RadioButton(@Model.QxnNo.ToString(), @Model.QxnNo + "TrueB", new { @id = @Model.QxnNo + "b" }) @Model.Option2</label>
            </div>

            <div class="radio-inline">
                <label>@Html.RadioButton(@Model.QxnNo.ToString(), @Model.QxnNo + "TrueC", new { @id = @Model.QxnNo + "c" }) @Model.Option3</label>
            </div>

            <div class="radio-inline">
                <label>@Html.RadioButton(@Model.QxnNo.ToString(), @Model.QxnNo + "TrueD", new { @id = @Model.QxnNo + "d" }) @Model.Option4</label>
            </div>

        </fieldset>

        @Html.HiddenFor(m=> m.QxnNo)
        @Html.HiddenFor(m => m.QuestionText)
        <input type="submit" id="saveAns" value="Save" />
        */}


